

<a href="/pages/<%= @contact[:id] %>/edit"><button type='button'>Edit</button></a>

<span><%= delete_contact_button(@contact[:id]) %></span>

<h2>Name: </h2><h4><%= @contact[:first_name] %> <%= @contact[:last_name] %></h4>

<h4>Email: <%= @contact[:email] %></h4>

<h4>Importance: <%= @contact[:importance] %></h4>